.skills-list {
  margin-bottom: -30px;
  @include media(768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
.skills-list__item {
  margin-bottom: 30px;

  @include media(768px) {
    max-width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @include media(1200px) {
    max-width: calc(100% / 4 - 30px);
  }
}
.skills-list__item::before {
  content: "";
  display: block;
  height: 120px;
  background-color: var(--secondary-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: var(--margin-typical);
}

/* ----------SKILL-BG-IMAGE---------- */

.skills-list__item:nth-child(1)::before {
  background-image: url(../images/logo/skills-antenna.svg);
}
.skills-list__item:nth-child(2)::before {
  background-image: url(../images/logo/skills-clock.svg);
}
.skills-list__item:nth-child(3)::before {
  background-image: url(../images/logo/skills-diagram.svg);
}
.skills-list__item:nth-child(4)::before {
  background-image: url(../images/logo/skills-astronaut.svg);
}

.skills-list__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
.skills-list__text {
  line-height: 1.71;
}
