:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-bg-color: #ffffff;
  --secondary-text-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --margin-typical: 30px;
  --padding-typical: 94px;
  --logo-primary-color: #afb1b8;
}
